/* Textfield - BEGIN */

.textfield--outlined {
  padding: 0.5rem;
  border: 2px solid hsla(var(--brand-parameters), 0.5);
  border-radius: 4px;
  background-color: transparent;
}

.textfield--outlined {
  padding: 0.5rem;
  border: 2px solid hsla(var(--brand-parameters), 0.5);
  border-radius: 4px;
  background-color: transparent;
}

.textfield--outlined:hover {
  border: 2px solid hsla(var(--brand-parameters), 0.7);
}

.textfield--outlined:focus {
  outline: none;
  border: 2px solid hsla(var(--brand-parameters), 1);
}

.textfield--container {
  --textfield-padding-top: 16px;
  --textfield-padding-left: 14px;

  position: relative;
}

.textfield--input {
  padding: var(--textfield-padding-top) var(--textfield-padding-left);
}

.textfield--label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--textfield-padding-top), var(--textfield-padding-left));
}

/* Textfield - END */