.new-game-form--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-game-form--title {
  position: relative;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.new-game-form--title-symbol--container {
  margin-left: auto;
  padding: 5px;
  display: flex;
}

.new-game-form--title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 4px;
  width: 100%;
  background-color: #0070f3;
  border-radius: 2px;
}

.new-game-form--form--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-game-form--form--input-field {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.new-game-form--form--players-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-game-form--form--players-input {
  display: flex;
  gap: 0.5rem;
}

.new-game-form--form--players-remove-icon {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
}

.new-game-form--form--input-field-row {
  display: flex;
  gap: var(--padding);
  align-items: center;
  justify-content: space-between;
}

.new-game-form--form--add-players {
  display: flex;
  gap: var(--padding);
  align-items: center;
  width: fit-content;
}

.new-game-form--form--button-container {
  display: flex;
  justify-content: space-between;
}

.new-game-form--form--text-field {
  width: 100%;
}

.new-game-form--form--search-result--container {
  display: flex;
}

.new-game-form--form--search-result--container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-game-form--form--search-result--container-distance {
  display: flex;
  flex-direction: column;
}

.new-game-form--form--search-result--container-loading {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.new-game-form--form--search-result--container-location {
  margin-left: auto;
}

.li-class {
  pointer-events: none;
}