.container {
  display: flex;
  width: 100%;
}

.input {
  width: 100%;
}

.list--container {
  position: absolute;
  list-style-type: none;
  background-color: var(--stroke-weak);
  border-radius: 5px;
  padding: 0.3rem 0 0.3rem 0;
  margin-top: 0.3rem;
  max-height: max(25%, 200px);
  overflow: auto;
}

.list--item {
  padding: 0.3rem;
  cursor: pointer;
}

.list--item:hover {
  background-color: var(--stroke-weak--lighter);
}